<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />

</head>
<body>
    <h1>United States Wealth Inequality and Forest Density Stats</h1>
    <table class="data_table">
        <thead>
            <tr class="data_table">
                <td>State</td>
                <td>Gini Index</td>
                <td>Poverty Rate</td>
                <td>Forest Density</td>
            </tr>
        </thead>
        <tbody>
        {% for row in table %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{forest_density}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>